
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="container">
    <br />
    <div class="col-md-9 col-md-offset-1" style="margin-left:150px">
        <center><font size="6">Frequently Asked Questions</font></center>
        <div class="panel-group" id="faqAccordion">

            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: Where can i view loans? </a>
                    </h4>
                </div>
                <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>
                            Loans are not availble at the moment, Please visit your nearby branch for more details
                        </p>
                    </div>
                </div>
            </div>



            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                    <h4 class="panel-title">
                        <a href="#question1" class="ing">Q: What is an EMI?</a>
                    </h4>
                </div>
                <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>
                            You repay the loan in Equated Monthly Installments (EMIs) comprising both principal and interest. Repayment by way of EMI starts from the month following the month in which you take full disbursement. (For understanding how EMI is calculated, please see annex).
                        </p>
                    </div>
                </div>
            </div>


            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                    <h4 class="panel-title">
                        <a href="#question2" class="ing">Q: How can i edit/delete a customer?</a>
                    </h4>
                </div>
                <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>
                            On the manager homepage, Customer management dropdown need to be selected where manager have access to Manager Customer where manager can edit/delete the customer details.
                        </p>
                    </div>
                </div>
            </div>


            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                    <h4 class="panel-title">
                        <a href="#question3" class="ing">Q: How can i add/delete a account?</a>
                    </h4>
                </div>
                <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>
                            On the manager homepage, Account management dropdown need to be selected where manager have access to add/delete any account to the existing customer details.
                        </p>
                    </div>
                </div>
            </div>



            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4">
                    <h4 class="panel-title">
                        <a href="#question4" class="ing">Q: What are all the product features?</a>
                    </h4>
                </div>
                <div id="question4" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>
                            Sign In
                            Withdraw
                            Trnasfer
                            Deposit
                            Mini Statement
                            List Accounts
                            Add Customer
                            Edit Customer
                            Delete Customer
                            Add Account
                            Delete Account
                        </p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question5">
                    <h4 class="panel-title">
                        <a href="#question5" class="ing">Q: How can i login to cashier/manager home page?</a>
                    </h4>
                </div>
                <div id="question5" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>
                            In Homepage there is a login button, Cashier/Manager can log in using that option.
                        </p>
                    </div>
                </div>
            </div>


            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question6">
                    <h4 class="panel-title">
                        <a href="#question6" class="ing">Q: How can i list all account details?</a>
                    </h4>
                </div>
                <div id="question6" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>
                            On the cashier homepage and manager homepage, Account management dropdown need to be selected. Customer account search bar is provided where list of account numbers can be viewed.
                        </p>
                    </div>
                </div>
            </div>


            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question7">
                    <h4 class="panel-title">
                        <a href="#question7" class="ing">Q: Where can i find withdraw options?</a>
                    </h4>
                </div>
                <div id="question7" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>
                            On the cashier homepage, Account management dropdown need to be selected. Account number provide by the user need to be entered and withdraw button need to click which will be directed to other page where details of user is displayed and withdraw amount need to enter.
                        </p>
                    </div>
                </div>
            </div>


            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question8">
                    <h4 class="panel-title">
                        <a href="#question8" class="ing">Q: Where can i find transfer options?</a>
                    </h4>
                </div>
                <div id="question8" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>
                            On the cashier homepage, two account numbers are provided by the user and cashier clicks the transfer button and enters the required to and from account numbers and amount provided by the user and transfer button is selected.
                        </p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question9">
                    <h4 class="panel-title">
                        <a href="#question9" class="ing">Q: Where can i find Mini Statement option? </a>
                    </h4>
                </div>
                <div id="question9" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>
                            On the cashier homepage, Account management dropdown need to be selected. Account number provide by the user need to be entered and mini statement button need to click which will be directed to other page where details of user is displayed, and recent transaction details are listed as a statement.
                        </p>
                    </div>
                </div>
            </div>


            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question10">
                    <h4 class="panel-title">
                        <a href="#question10" class="ing">Q: Where can i find deposit options?</a>
                    </h4>
                </div>
                <div id="question10" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>
                            On the cashier homepage, Account management dropdown need to be selected. Account number provide by the user need to be entered and deposit button need to click which will be directed to other page where details of user is displayed, and deposit amount need to enter.
                        </p>
                    </div>
                </div>
            </div>


            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question11">
                    <h4 class="panel-title">
                        <a href="#question11" class="ing">Q: What Are The Services Available?</a>
                    </h4>
                </div>
                <div id="question11" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>
                            Balance Enquiry
                            Mini Statement of Account
                            Deposit
                            Withdrawl
                        </p>
                    </div>
                </div>
            </div>



            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question12">
                    <h4 class="panel-title">
                        <a href="#question12" class="ing">Q: Are there any loan opportunities available right now ?</a>
                    </h4>
                </div>
                <div id="question12" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>
                            There are no Loan service available at the moment.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/panel-group-->
</div>
<br>
<br>
<br>