@{
    ViewBag.Title = "Manager";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

@if (Session["roleid"] != null)
{
    if (Session["roleid"].ToString() == "1")
    {
        <center><h2>Welcome @Session["username"]</h2></center>
    }
    else
    {
        Response.Redirect("Unauthorized");
    }
}
else
{
    Response.Redirect("Unauthorized");
}

<div class="container">
    <div class="row">
        <div class="col-lg-5 col-lg-offset-4 ">
            <img class="img-fluid" src="~/Images/executive.jpg" alt="" />
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />