@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <div class="col-md-9 col-md-offset-1" style="margin-left:150px">
        <center><font size="6">Frequently Asked Questions</font></center>
        <div class="panel-group" id="faqAccordion">
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: For what purposes can I seek a first time home loan?</a>
                    </h4>
                </div>
                <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>
                            You can generally seek a first time home loan for buying a house or a flat, renovation, extension and repairs to your existing house. Most banks have a separate policy for those who are going for a second house. Please remember to seek specific clarifications on the above-mentioned issues from your commercial bank.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: How will your bank decide your home loan eligibility?</a>
                    </h4>
                </div>
                <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>Your bank will assess your repayment capacity while deciding the home loan eligibility. Repayment capacity is based on your monthly disposable / surplus income, (which in turn is based on factors such as total monthly income / surplus less monthly expenses) and other factors like spouse's income, assets, liabilities, stability of income etc. The main concern of the bank is to make sure that you comfortably repay the loan on time and ensure end use. The higher the monthly disposable income, higher will be the amount you will be eligible for loan. Typically a bank assumes that about 55-60 % of your monthly disposable / surplus income is available for repayment of loan. However, some banks calculate the income available for EMI payments based on an individual’s gross income and not on his disposable income.The amount of the loan depends on the tenure of the loan and the rate of interest also as these variables determine your monthly outgo / outflow which in turn depends on your disposable income. Banks generally fix an upper age limit for home loan applicants.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: What is an EMI?</a>
                    </h4>
                </div>
                <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>You repay the loan in Equated Monthly Installments (EMIs) comprising both principal and interest. Repayment by way of EMI starts from the month following the month in which you take full disbursement. (For understanding how EMI is calculated, please see annex).
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: What documents are generally sought for a loan approval?</a>
                    </h4>
                </div>
                <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>In addition to all legal documents relating to the house being bought,  banks will also ask you to submit Identity and Residence Proof, latest salary slip ( authenticated by the employer and self attested for employees ) and Form 16 ( for business persons/ self-employed ) and last 6 months bank statements / Balance Sheet, as applicable . You also need to submit the completed application form along with your photograph. Loan applications form would give a checklist of documents to be attached with the application.Do not be in a hurry to seal the deal quickly.Please do discuss and seek more information on any waivers in terms and conditions provided by the commercial bank in this regard. For example some banks insist on submission of Life Insurance Policies of the borrower / guarantor equal to the loan amount assigned in favour of the commercial bank. There are usually amount ceilings for this condition which can also be waived by appropriate authority. Please read the fine print of the bank’s scheme carefully and seek clarifications.
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: What is Inter Bank Transfer? </a>
                    </h4>
                </div>
                <div id="question4" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>
                            Inter Bank Transfer enables electronic transfer of funds from the account of the remitter in one Bank to the account of the beneficiary maintained with any other Bank branch. There are two systems of Inter Bank Transfer - RTGS and NEFT. Both these systems are maintained by Reserve Bank of India. RTGS- Real Time Gross Settlement- This is a system where the processing of funds transfer instructions takes place at the time they are received (real time). Also the settlement of funds transfer instructions occurs individually on an instruction by instruction basis (gross settlement). RTGS is the fastest possible interbank money transfer facility available through secure banking channels in India.NEFT- National Electronic Fund Transfer- This system of fund transfer operates on a Deferred Net Settlement basis. Fund transfer transactions are settled in batches as opposed to the continuous, individual settlement in RTGS. Presently, NEFT operates in half hourly batches from 8 am to 7 pm on week days and working saturdays The above mentioned facilities are available to both Retail and Corporate Internet Banking users of SBI (provided they have availed transaction rights).
                    </div>
                </div>
            </div>

            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question5">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: Whom I can contact, in case of non-credit or delay in credit to the beneficiary account for NEFT transaction?</a>
                    </h4>
                </div>
                <div id="question5" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>                        Please contact your bank/branch or the destination bank/branch or the Customer Facilitation Service Centre of the banks.
                    </div>
                </div>
            </div>

            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question6">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: What Are The Services / Facilities Available At ATMs ?</a>
                    </h4>
                </div>
                <div id="question6" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>
                            Basic functions
                            Cash Withdrawal
                            Balance Enquiry
                            Mini Statement of Account
                            Funds Transfer
                            Within accounts linked to a Debit Card
                            Third party fund transfer i.e. other PNB account holders
                            IMPS Registration & fund Transfer through ATMs
                            PIN Change
                            Other financial / non-financial functions
                            Credit Card Payment
                            Card to Card Fund Transfer
                            Issuance of Green PIN
                            IBS registration
                            Mobile Banking Registration
                            Cheque book request
                            Utility Bills payment
                            Customer Complaint for non-disbursement of cash through ATMs
                            Income Tax Payment through ATMs
                            CRM lead Management
                            Request for Cheque book through ATMs
                            Stop Cheque Payment request through ATMs
                    </div>
                </div>
            </div>

            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question7">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: What Is Electronic Clearing Service (ECS) ?</a>
                    </h4>
                </div>
                <div id="question7" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>                        ECS is a mode of electronic funds transfer for transactions that are repetitive and periodic in nature. ECS is used by institutions for making bulk payment of amounts towards distribution of dividend, interest, salary, pension, etc., or for bulk collection of amounts towards telephone / electricity / water dues, cess / tax collections, loan installment repayments, periodic investments in mutual funds, etc. Essentially, ECS facilitates bulk transfer of monies from one bank account to many bank accounts or vice versa using the services of a ECS Centre at a ECS location.
                    </div>
                </div>
            </div>

            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question8">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: For Which Activities Loan Can Be Raised Under This Scheme ?</a>
                    </h4>
                </div>
                <div id="question8" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>
                            Loans can be provided under this scheme to both individuals as well as business enterprises for the purpose of meeting business and personal needs. Loans, however, are not available for speculative purpose.
                            10 What Is The Repayment Schedule For This Scheme?
                            Normally, maximum repayment period under the scheme be allowed to 120 monthly instalments and the same be extended to maximum 144 months, subject to the availability of unexpired lease period.
                            11 What Is The Security To Be Provided For This Loan ?
                            Security under this scheme is to be provided as under:
                            Assignment of lease rentals.
                            Equitable mortgage of any immovable property to the extent of 100% of the loan.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/panel-group-->
</div>
<br>
<br>
<br>